[Desktop Entry]
Name=Solar Monitoring
Name[ru]=Мониторинг панелей
Comment=Solar Monitoring
Comment[ru]=Мониторинг панелей

Icon=applications-system
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_solarmonitoringplasmoid

X-KDE-PluginInfo-Author=Danil
X-KDE-PluginInfo-Email=mcrodar@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.solarmonitoringplasmoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

